@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url(white.jpg); /* rgba(221, 254, 254, 0.7 */
  
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    font-size: 1.5rem;
    user-select: none;
}

.text{
    position: absolute;
    top: 5.5px;
    left: 23px;
    font-family:arial;
    font-size: 23px;

}

.navbar {
    overflow: hidden;
    background: url("wtr.gif");
    margin-right: 1180px;
  
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The subnavigation menu */
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Add a red background color to navigation links on hover */
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: rgb(99, 203, 203, 0.7);
  }
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background: url("wtr.gif");
    width: 100%;
    z-index: 1;
  }
  
  /* Style the subnav links */
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: rgb(131, 200, 200, 0.7);
    color: white;
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  }


  /* VK */

.textContainer{
    height: 20vh;
    margin-top: 2px;;
    width: 53vw;
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px 1px grey;
    outline: none;
    padding: 2rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}

.keyboard{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 48vh;
    width: 70vw;
    background: url(wtr.gif);
    border-radius: 1rem;
    margin-bottom: 1px;
}

.row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;   
}

.last{
    width: 65%;
    margin: 0 auto ;
}

.space{
    background: whitesmoke;
    width: 50%;
    height: 2rem;   
}

.key{
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 3px;
    color: white;
    

}

.key:active{
    background: rgb(167, 197, 197);
}

.active{
    background-color: rgb(99, 203, 203);
}